# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
.env

# Django
*.log
db.sqlite3
staticfiles/
media/

# Distribution / packaging
.eggs/
dist/
build/
*.egg-info/
*.egg

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Type checking
.mypy_cache/
.dmypy.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
